

/* ****************************************** FIRST IMAGE ********************************************************************* */

section.first-image {
    width:100%;
    padding: 80px;
	float:right;
    background-color: rgb(17, 17, 17);
    background-image: url("../upload/banners/1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
     background-size: cover;
     margin-top:25px;
     margin-right:10px;
}


section.first-image .border-line-box {
    height: 300px;
    border: 2px solid #008B8B;
    border-bottom: none;
   
}

section.first-image .border2 {
position:absolute;
top:405px;
right:105px;
border:1.5px solid #008B8B;
float:right;
width:350px;

}

section.first-image .box-title {
    overflow: hidden;
    margin-top: -60px;
}


section.first-image h1 {
    display: inline-block;
    font-size: 48px;
    line-height: 15px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
   
    position: relative;
}


section.first-image p {
    color: #f9f9f9;
    font-size: 18px;
    font-family: "Merriweather", serif;
    line-height: 30px;
    padding-left:10px;
  
}







/* **************************************  about section  *********************************************************   */






 section.about-section {
    width:100%;
    padding: 50px 0;
    position: relative;
    float:right;
    margin-right:10px;
}

*, :after, :before {
    box-sizing: border-box;
}
			
			
section.about-section .container {
    
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float:right;
}

.row {
 
    margin-right: -15px;
    margin-left: -15px;
}

  .col{
  width:50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:right;
}


/* ****************************************** STATISTIC SECTION ***************************************************************** */


section.stat-section {
    width:100%;
    padding-top:80px;
    padding-bottom:80px;
    background: #333333;
     float:right;
     margin-bottom:0;
     margin-right:10px;
}


.container-fluid {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     float:right;
}
section.stat-section .stat-box {
     width:100%;
     overflow: hidden;
     float:right;
}

section.stat-section .stat-post {
    width: 19.9999%;
 
    text-align:center;
    padding-left: 30px;
    float:right;
}

section.stat-section .stat-post i {
    color: #fff;
    font-size: 80px;
  
    margin:0px;
    margin-bottom:0px;
}


section.stat-section .stat-post span.timer {
    color: #008B8B;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   margin:0px;
}


section.stat-section .stat-post .fa {
 color: #fff;
    display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
margin:0px;
}

/* **************************************************************** TEAM SECTION **************************************************** */



section.team-section {
   
    width:100%;
  
    background: #f9f9f9;
    float:right;
    margin-right:10px;
}



section.team-section .container-fluid .title-section h1{
	padding-top:5px; 
	font-size:40px; 
	text-align:center;
	font-family:"Poppins", sans-serif;;
}



section.team-section .container-fluid .title-section .heading2, h2, h2 {
    color: #222222;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    text-align:center;
}

/* ************************************************ MEMBER SECTION ************************************************************************ */


section.mem {
       
    width:100%;
    background: #f9f9f9;
    float:right;
    margin-right:10px;
}


section.mem .memdiv {
    float:right;
    max-width: 100%;
    margin: 0 0px;
    width:100%;
  }


section.mem .memdiv .container {
    width:50%;
    margin-right: auto;
    margin-left: auto;

}

.blocks_on_image {
		    opacity: 1;
		    display: block;
		    
		    
		    transition: .5s ease;
		    backface-visibility: hidden;
                  }
		 
		 
		 
		 .middle {
		      transition: .5s ease;
		      opacity: 1;
		      position: absolute;
		      top: 50%;
		      left: 50%;
		      transform: translate(-50%, -50%);
		      -ms-transform: translate(-50%, -50%);
		      text-align: center;
                   }
		   
		   
		   
		   
		   img:hover.text_on_image {
			  background-color: green;
			  color: green;
			  font-size: 16px;
			  padding: 16px 32px;
                    }
		   
		   
		   .container:hover .blocks_on_image {
                              opacity: 0.3;
                    }

                   .container:hover .middle {
                                opacity: 1;
							}
		
                  .container {
                           position: relative;
                           width: 50%;
                    }
                    .container:hover.text_on_image{
						opacity:0;
					}
					.container.text_on_image{
						opacity:1;
					}
						
									
						
		   .text_on_image:hover{
			   opacity=0.5;
		   }
		   .text_on_image{
			   opacity=0;
		   }

.hover_link
{
	color:white;
}




/* *******************************************************clients  **************************************************************************    */

section.our-clients {
       
  width:100%;
    padding: 90px 0;
    background: #f9f9f9;
    float:right;
    margin-right:10px;
}


section.our-clients .clientsdiv {
    max-width: 100%;
    margin: 0 auto;
    float:right;
}


section.our-clients .clientsdiv ul.client-list {
    overflow: hidden;
    width:100%;

}

section.our-clients .clientsdiv ul.client-list li {
    float: right;
    width: 16.666666%;
    list-style: none;
    text-align: center;
    
}

section.our-clients .clientsdiv ul.client-list li a {
    padding: 10px 30px;
    text-align: center;
    opacity: 0.4;
    width: 200px;

}

section.our-clients .clientsdiv ul.client-list li a:hover
{
opacity:1;
}


	
	/* ****************************************** text corousel ***************************************** */
	

section.texthover-section {
       
    width:100%;
    background: #f9f9f9;
    float:right;
    margin-right:10px;

}


section.texthover-section .texthoverdiv {
    max-width: 100%;
   
 
}



