

/* ****************************************** FIRST IMAGE ********************************************************************* */

section.page-banner-section {
    width:80%;
    padding: 100px;
	float:right;
    background-color: rgb(17, 17, 17);
    background-image: url("../upload/banners/1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
     background-size: cover;
}


section.page-banner-section .border-line-box {
    height: 400px;
    border: 2px solid #008B8B;
    border-bottom: none;
   
}

section.page-banner-section .page-box-title {
    overflow: hidden;
    margin-top: -70px;
}


section.page-banner-section h1 {
    display: inline-block;
    font-size: 48px;
    line-height: 15px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
   
    position: relative;
}


section.page-banner-section p {
    color: #f9f9f9;
    font-size: 18px;
    font-family: "Merriweather", serif;
    line-height: 30px;
    padding-left:10px;
  
}














/* **************************************  about section  *********************************************************   */






 section.about-section {
    width:100%;
    padding: 70px 0;
    position: relative;
    float:right;
}

*, :after, :before {
    box-sizing: border-box;
}
			
			
section.about-section .container {
    
   width:80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float:right;
}

.row {
 
    margin-right: -15px;
    margin-left: -15px;
}

  .col-sm-6 {
  width:50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:right;
}


/* ****************************************** STATISTIC SECTION ***************************************************************** */


section.statistic-section {
 width:80%;
    padding-top:100px;
    padding-bottom:10px;
    background: #333333;
     float:right;
     margin-bottom:0;
}


.container-fluid {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     float:right;
}
section.statistic-section .statistic-box {
     width:100%;
     overflow: hidden;
     float:right;
}

section.statistic-section .statistic-post {
    width: 19.9999%;
 
     text-align:center;
    padding-left: 30px;
    float:right;
}

section.statistic-section .statistic-post i {
    color: #fff;
    font-size: 80px;
    margin-bottom: 15px;
    
}


section.statistic-section .statistic-post span.timer {
    color: #008B8B;
    font-size: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}


section.statistic-section .statistic-post .fa {
 color: #fff;
    display: inline-block;
    font: normal normal normal 40px/1 FontAwesome;

}






























section.team-section .container-fluid .title-section .heading2, h2, h2 {
    color: #222222;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0 0 40px;
    text-align:center;
}

section.team-section .container-fluid .title-section h1{
	padding-top:5px; 
	 
	font-size:50px; 
	text-align:center;
	font-family:fantasy;
}

section.team-section {
   
   width:80%;
  
    background: #f9f9f9;
    float:right;
}

section.team-section .team-box .team-box-side .team-post {
    
    width: 33.3333%;
    float: right;
    position: relative;
}

section.team-section .team-box {
		float:right;
		overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
}
*, *::after, *::before {
    box-sizing: border-box;
}

section.team-section .team-box .team-box-side .team-post .hover-team {
    
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}





/* ******************************************* MEMBERS SECTION ***************************************************************8 */

section.mem {
       
  width:80%;
    background: #f9f9f9;
    float:right;
}


section.mem .memdiv {
    max-width: 100%;
    margin: 0 auto;
    float:right;
}


section.mem .memdiv ul.mem-list {
    overflow: hidden;
    width:100%;

}

section.mem .memdiv ul.mem-list li {
    float: left;
    width: 33.333%;
    list-style: none;
    text-align: center;
    
}

section.mem .memdiv .mem-list .memimg .hover-team {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

}

 section.mem .memdiv .mem-list .memimg .hover-team .inner-team {

    z-index: 2;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -25px;

}

/* ******************************************** ****************************************************************** */


























/*clients*/

section.our-clients {
       
  width:80%;
    padding: 90px 0;
    background: #f9f9f9;
    float:right;
}


section.our-clients .clientsdiv {
    max-width: 100%;
    margin: 0 auto;
    float:right;
}


section.our-clients .clientsdiv ul.client-list {
    overflow: hidden;
    width:100%;

}

section.our-clients .clientsdiv ul.client-list li {
    float: right;
    width: 16.666666%;
    list-style: none;
    text-align: center;
    
}

section.our-clients .clientsdiv ul.client-list li a {
    padding: 10px 30px;
    text-align: center;
    opacity: 0.4;
    width: 200px;

}

section.our-clients .clientsdiv ul.client-list li a:hover
{
opacity:1;
}











