
section.page-banner-section.portfolio-ban {
width:80%;
float:right;
    background: #111 url("../upload/banners/3.jpg") center center no-repeat;
    background-size: cover;
    
}
section.page-banner-section {
width:80%;
    padding: 100px;
    background: #111 url("../upload/banners/1.jpg") center center no-repeat;
    background-size: cover;
    padding:20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}


section.page-banner-section .border-line-box {
    height: 300px;
    border: 2px solid #c7ad88;
    border-bottom: none;
}
section.page-banner-section .page-box-title {
    overflow: hidden;
    margin-top: -30px;
}
section.page-banner-section h1 {
    display: inline-block;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    position: relative;
}




section.page-banner-section p {
    color: #f9f9f9;
    font-size: 18px;
    font-family: "Merriweather", serif;
    line-height: 30px;
    margin-bottom: 0;
}
































s
