
section.page-banner-section.portfolio-ban {
width:80%;
float:right;
    background: #111 url("../upload/banners/3.jpg") center center no-repeat;
    background-size: cover;
}
section.page-banner-section {
    padding: 100px;
    background: #111 url("../upload/banners/1.jpg") center center no-repeat;
    background-size: cover;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}


section.page-banner-section .border-line-box {
    height: 300px;
    border: 2px solid #c7ad88;
    border-bottom: none;
}
section.page-banner-section .page-box-title {
    overflow: hidden;
    margin-top: -30px;
}
section.page-banner-section h1 {
    display: inline-block;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    position: relative;
}




section.page-banner-section p {
    color: #f9f9f9;
    font-size: 18px;
    font-family: "Merriweather", serif;
    line-height: 30px;
    margin-bottom: 0;
}
































section.portfolio-section {
width:80%;
float:right;
  padding-top: 75px;
  overflow: hidden; }
  section.portfolio-section .title-section {
  width:80%;
  float:right;
    margin-bottom: 36px; }
  section.portfolio-section .portfolio-box .project-post {
    width: 25%;
    position: relative;
    padding: 5px; }
    section.portfolio-section .portfolio-box .project-post img {
      width: 100%;
      height: auto; }
    section.portfolio-section .portfolio-box .project-post .hover-box {
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background:#008B8B;
      text-align: center;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      section.portfolio-section .portfolio-box .project-post .hover-box .inner-hover {
        z-index: 2;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -20px; }
        section.portfolio-section .portfolio-box .project-post .hover-box .inner-hover h2 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 5px; }
          section.portfolio-section .portfolio-box .project-post .hover-box .inner-hover h2 a {
            color: #fff; }
          section.portfolio-section .portfolio-box .project-post .hover-box .inner-hover h2 a:hover {
            opacity: 0.7; }
        section.portfolio-section .portfolio-box .project-post .hover-box .inner-hover span {
          color: #fff;
          font-size: 12px;
          font-style: italic;
          margin-bottom: 0; }
    section.portfolio-section .portfolio-box .project-post .hover-box:after {
      content: '';
      position: absolute;
      top: 17px;
      left: 17px;
      bottom: 17px;
      right: 17px;
      border: 2px solid #fff; }
  section.portfolio-section .portfolio-box .project-post:hover .hover-box {
    opacity: 1; }

ul.filter {
width:100%;
  text-align: center;
  margin-bottom: 40px;
   }
  ul.filter li {
    display: inline-block;
    padding: 0 0 0 20px;
    margin-bottom: 20px; }
    ul.filter li a {
    width:100%;
      color: #008B8B;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      padding: 0 10px 6px;
      border-bottom: 2px solid transparent;
      text-transform: capitalize; }
    ul.filter li a:hover,
    ul.filter li a.active {
      color: #008B8B;
      border-bottom: 2px solid #c7ad88; }
  ul.filter li:after {
    content: '|';
    color: #008B8B;
    font-size: 8px;
    font-family: "Merriweather", serif;
    margin-left: 20px; }
  ul.filter li:last-child:after {
    display: none;
    margin-left: 0; }
  ul.filter li:first-child {
    margin-left: 0; }
